.navBar {
    background-color: #536162;
    text-align: center;
    height: 50px;
    align-items: center;
    display:flex;
}

#home {
    background-color: transparent;
    float: left;
    border: transparent;
}

#logo{
    height: 50px;
}

#devices .device{
    display: flex;
    background-color: transparent;
    float: right;
    border: transparent;
    height: 100%;
    margin-top: 10px;
}

#devices .device:focus{
    outline: none;
    box-shadow: none;
}