.navBar {
    background-color: #536162;
    text-align: center;
    height: 50px;
    align-items: center;
    display:flex;
}

#home {
    background-color: transparent;
    float: left;
    border: transparent;
}

#logo{
    height: 40px;
}

#devices .deviceCategory{
    display: flex;
    background-color: transparent;
    float: right;
    border: transparent;
    border-radius: 0;
    height: 41px;
    margin-top: 10px;
    font-weight: bold;
}

#devices .device{
    display: flex;
    background-color: transparent;
    float: right;
    border: transparent;
    border-radius: 0;
    height: 31px;
}

#devices .device:focus, #devices .deviceCategory:focus, #home{
    outline: none;
    box-shadow: none;
}

#subnav{
   background-color: #90a9ab;
    height: 35px;
}